<div class="all-patients__container">
  <div class="search-container">
    <label class="search-label" for="search">Search by Name:</label>
    <input
      type="text"
      id="search"
      [(ngModel)]="searchName"
      (input)="fetchPatients()"
      class="search-input"
    />
  </div>
  <app-table
    [title]="'Patients'"
    [tableDescription]="'All patients'"
    [data]="patients"
    [head]="head"
    [properties]="patientProperties"
    [isDoctorName]="true"
    (passPatient)="openModal($event)"
  />
  <button
    (click)="openModal()"
    type="button"
    class="cool-button m-3 align-self-end"
  >
    Add new Patient
  </button>
  <app-registration-form [(isModalOpen)]="isModalOpen" [patient]="patient" (patientEdited)="onEditComplete($event)"/>
</div>
