.table__container {
  overflow-x: auto;
}

.patients__table {
  font-weight: bold;
  text-align: start;
}

.table__row td, .patients__table th {
  border: 2px solid rgba(7, 14, 109, 0.062);
	cursor: pointer;
  text-align: center;
}

.table__row {
  &:hover {
    background-color: rgba(37, 50, 231, 0.37);
    color: white;
  }
}

.delete__button {
  &:hover {
    background-color: rgb(153, 32, 38);
  }
}