.table__container {
  overflow-x: auto;
}

.patients__table {
  font-weight: bold;
  text-align: start;
}

.table__row td, .patients__table th {
  border: 1px solid #dee2e6;
	cursor: pointer;
  text-align: center;
}

.table__row {
  &:hover {
    background-color: rgb(204, 191, 245);
  }
}

.delete__button {
  &:hover {
    background-color: rgb(172, 154, 233);
  }
}
