<div class="m-3">
  <h1 class="mb-3">Patients</h1>
  <p id="tableDescription">All patients</p>
  <table
    aria-describedby="tableDescription"
    class="table"
    *ngIf="patients.length; else noPatients"
  >
    <thead>
      <tr>
        <th>first name</th>
        <th>last name</th>
        <th>personal id</th>
        <th>date of birth</th>
        <th>phone number</th>
        <th>email</th>
        <th>medical conditions</th>
        <th>surgical history</th>
        <th>medications</th>
        <th>allergies</th>
        <th>immunizations</th>
        <th>insurance</th>
        <th>doctor</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let patient of patients">
        <td>{{ patient.firstName }}</td>
        <td>{{ patient.lastName }}</td>
        <td>{{ patient.personalId }}</td>
        <td>{{ patient.dateOfBirth }}</td>
        <td>{{ patient.phoneNumber }}</td>
        <td>{{ patient.email }}</td>
        <td>{{ patient.medicalConditions }}</td>
        <td>{{ patient.surgicalHistory }}</td>
        <td>{{ patient.medications }}</td>
        <td>{{ patient.allergies }}</td>
        <td>{{ patient.immunizations }}</td>
        <td>{{ patient.insurance }}</td>
        <td>{{ patient.doctorsName + " " + patient.doctorsSurname }}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #noPatients>
    <p>No patients found</p>
  </ng-template>
</div>
